results
workspace/repo
workspace/githistory.txt
workspace/dataset

cloned_repositories
c/
java/

.venv/
src/omniccg/final_results/
src/omniccg/clone_detector_result/
src/omniccg.egg-info/

clone_detector_result/*
__pycache__/*
repo/*
search_results/*

__pycache__
*scod/

target
.metadata
.settings
.classpath
.project
*.class
# Package Files #
*.war
*.ear
.idea
*.iml
*.swp
datanucleus.log


./results/production_results.xml
./results/production_density.csv